* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

.first-container{
    width: 40%;
    margin: 0 auto;
}

.second-container{
    width: 40%;
    margin: 70px auto;
}
